<%- include('header'); -%>

      <div class="box" id="heading">
        <h1 id="heading"> <%= kindofdays %> </h1>

      </div>

      <div class="box">
        <ul>
      
            <% for(var i=0; i<alwayseats.length;i++) {%>
                <div class="item">
                    <input type="checkbox">
                    <p><%= alwayseats[i] %> </p>
                </div>
            <% } %> 
        </ul>

        <form action="/" method="post">
            <input type="text" name="newitem" placeholder="new item" autofocus="off">
            <button type="submit">+</button>
        </form>
      </div>
 
    <%- include('footer'); -%>

